.contacts {
  padding-bottom: 40px;
  border-bottom: 1px solid #e1e1e1;

  @include contentMedia($desktop) {
    padding-bottom: 60px;
  }
}

.container {
}

.contacts__btn-container {
  @include contentMedia($tablet) {
    display: flex;
    justify-content: center;
    gap: 14.5px;
    margin-bottom: 40px;
  }
  @include contentMedia($desktop) {
    margin-bottom: 120px;
    gap: 12px;
  }
}

.contacts__button {
  width: 161px;
  height: 44px;
  border-radius: 22px;

  @include mwContentMedia($tablet) {
    margin: 0 auto;
    &:first-child {
      margin-bottom: 10px;
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }

  @include contentMedia($tablet) {
    &:first-child {
      width: 191px;
    }

    &:last-child {
      width: 174px;
    }
  }

  @include contentMedia($desktop) {
    &:first-child {
      width: 198px;
    }

    &:last-child {
      width: 168px;
    }
  }
}

.contacts__main-container {
  @include contentMedia($tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contacts__title {
  margin-bottom: 40px;
  font-family: $secondary-font;
  text-transform: uppercase;
}

.contacts__top-title {
  display: block;
  max-width: 232px;
  margin-bottom: 16px;
  @include font(400, 18, 21, null);
  color: #ffa5ba;

  @include contentMedia($tablet) {
    max-width: 340px;
    margin-bottom: 12px;
    @include font(400, 26, 30, 0.04em);
  }

  @include contentMedia($desktop) {
    max-width: 100%;
    margin-bottom: 16px;
    @include font(400, 30, 34, 0.04em);
  }
}

.contacts__bottom-title {
  display: block;
  max-width: 200px;
  @include font(400, 34, 39, 0.04em);
  color: color("accent-color");

  @include contentMedia($tablet) {
    max-width: 340px;
    @include font(400, 48, 55, 0.06em);
  }

  @include contentMedia($desktop) {
    max-width: 100%;
    @include font(400, 58, 66, 0.06em);
  }
}

.soc {
  display: flex;
  gap: 28px;
  justify-content: flex-end;
  margin-bottom: 40px;
  @include contentMedia($tablet) {
    gap: 30px;
  }
}

.soc__item {
}

.soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fea5bb;
  @include animation(background-color);

  &:hover,
  &:focus {
    background-color: color("accent-color");
  }

  @include contentMedia($tablet) {
    width: 34px;
    height: 34px;
  }
}

.soc__icon {
  fill: color("white-color");
}

.contacts__text {
  text-align: right;
  @include font(700, 12, 22, null);
  @include contentMedia($tablet) {
    @include font(700, 14, 26, null);
  }

  @include contentMedia($desktop) {
    @include font(700, 16, 30, 0.02em);
  }
}

.contacts__tel-link {
  color: color("accent-color");
}
