.hero {
  background-color: color("hero-bg");
}

.hero__container {
  overflow: hidden;
  position: relative;
  padding-top: 194px;
  padding-bottom: 158px;

  @include contentMedia($tablet) {
    padding-top: 102px;
    padding-bottom: 16px;
  }

  @include contentMedia($desktop) {
    padding-top: 147px;
    padding-bottom: 60px;
  }
}

.hero__top-container {
  display: flex;
  justify-content: space-between;
  @include contentMedia($tablet) {
    margin-bottom: 20px;
  }
  @include contentMedia($desktop) {
    margin-bottom: 40px;
  }
}

.hero__content-container {
  position: relative;
  z-index: 2;
}

.hero__title {
  max-width: 218px;
  margin-bottom: 20px;
  font-family: $secondary-font;
  @include font(400, 26, 30, 0.04em);
  @include contentMedia($tablet) {
    max-width: 162px;
    @include font(400, 22, 25, 0.04em);
  }
  @include contentMedia($desktop) {
    max-width: 277px;
    margin-bottom: 24px;
    @include font(400, 38, 44, 0.04em);
  }
  color: color("white-color");
}

.title__accent {
  font-size: 48px;
  line-height: 96.5%;
  @include contentMedia($tablet) {
    font-size: 34px;
    line-height: calc(31 / 34);
  }

  @include contentMedia($desktop) {
    font-size: 58px;
    line-height: calc(52 / 58);
  }
  color: color("accent-color");
}

.hero__btn-container {
  display: flex;
  gap: 8px;
  @include contentMedia($tablet) {
    gap: 12px;
  }
}

.hero__left-button {
  width: 62.4px;
  height: 24px;
  border-radius: 20px;
  @include font(400, 8, 10, null);
  @include contentMedia($desktop) {
    width: 107px;
    height: 40px;
    @include font(400, 14, 18, null);
  }
}

.hero__right-button {
  width: 82.8px;
  height: 24px;
  border-radius: 20px;
  @include font(400, 8, 10, null);
  @include contentMedia($desktop) {
    width: 138px;
    height: 40px;
    @include font(400, 14, 18, null);
  }
}

.hero-list {
  display: none;
  @include contentMedia($tablet) {
    display: block;
  }
}
.hero-list__item {
  position: relative;
  display: flex;
  flex-direction: column;

  &:first-child {
    margin-bottom: 16px;
    @include contentMedia($desktop) {
      margin-bottom: 15px;
    }
  }

  &:first-child .hero-list__top-text {
    align-self: center;
  }

  &:last-child .hero-list__top-text {
    align-self: center;
  }

  &:first-child .hero-list__bottom-text {
    align-self: center;
  }

  &:last-child .hero-list__bottom-text {
    align-self: flex-start;
  }
  &::after {
    content: "";
    position: absolute;
    top: -1px;
    right: -2px;
    width: 16px;
    height: 16px;
    @include contentMedia($desktop) {
      width: 30px;
      height: 30px;
    }
    border-radius: 50%;
    background-color: color("white-color");
    z-index: 0;
  }
}

.hero-list__top-text {
  position: relative;
  z-index: 1;
  align-self: flex-start;
  font-family: $secondary-font;
  @include font(400, 28, 32, 0.04em);
  @include contentMedia($desktop) {
    margin-bottom: 2px;
    @include font(400, 46, 53, 0.04em);
  }
  color: color("accent-color");
}

.hero-list__bottom-text {
  @include font(400, 8, 10, null);
  @include contentMedia($desktop) {
    @include font(400, 14, 18, null);
  }
  color: color("white-color");
}

.hero__main-circle {
  position: absolute;
  left: 36px;
  bottom: 75px;
  width: 346px;
  height: 344px;
  @include contentMedia($tablet) {
    left: 248px;
    bottom: 40px;
    width: 335px;
    height: 333px;
  }
  @include contentMedia($desktop) {
    left: 517px;
    bottom: 77px;
    width: 534px;
    height: 534px;
  }
  border-radius: 50%;
  background-color: color("circle-bg");
  z-index: 1;
}

.hero__main-image {
  position: absolute;
  left: 117px;
  bottom: 0;
  width: 171px;
  height: 410px;
  background-image: url(../images/ice-cream-320.png);
  @include retina(ice-cream, 320, png);
  @include contentMedia($tablet) {
    left: 332px;
    bottom: 0;
    width: 143px;
    height: 336px;
    background-image: url(../images/ice-cream-768.png);
    @include retina(ice-cream, 768, png);
  }

  @include contentMedia($desktop) {
    left: 636px;

    bottom: 0;
    width: 236px;
    height: 557px;
    background-image: url(../images/ice-cream-1200.png);
    @include retina(ice-cream, 1200, png);
  }
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.hero__bottom-container {
  display: flex;
}

.hero__left-image {
  display: none;
  // position: absolute;
  // left: 32px;
  // bottom: 16px;
  width: 152px;
  height: 154px;
  background-image: url(../images/hero-milk-768.png);
  @include retina(hero-milk, 768, png);
  background-repeat: no-repeat;
  background-size: contain;
  @include contentMedia($tablet) {
    display: block;
  }

  @include contentMedia($desktop) {
    width: 213px;
    height: 216px;
    background-image: url(../images/hero-milk-1200.png);
    @include retina(hero-milk, 1200, png);
  }
}

.hero__bottom-content {
  display: none;
  // position: absolute;
  max-width: 114px;
  padding-top: 41px;
  @include contentMedia($desktop) {
    max-width: 200px;
  }
  // left: 184px;
  // bottom: 56px;
  z-index: 1;

  @include contentMedia($tablet) {
    display: block;
  }
}

.bottom-content__text {
  margin-bottom: 7px;
  font-size: 7px;
  line-height: calc(12 / 7);
  @include contentMedia($desktop) {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: calc(20 / 14);
  }
  color: color("white-color");
}

.bottom-content__link {
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../images/arrow-right-768.png);
  @include retina(arrow-right, 768, png);

  @include contentMedia($desktop) {
    width: 26px;
    height: 26px;
    background-image: url(../images/arrow-right-1200.png);
    @include retina(arrow-right, 1200, png);
  }
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hero__right-image {
  display: none;
  margin-left: auto;
  position: relative;
  bottom: -20px;
  // position: absolute;
  // right: 32px;
  // bottom: 0px;
  width: 190px;
  height: 150px;
  background-image: url(../images/tasty-girl-768.png);
  @include retina(tasty-girl, 768, png);
  background-repeat: no-repeat;
  background-size: contain;
  @include contentMedia($tablet) {
    display: block;
  }
  @include contentMedia($desktop) {
    bottom: -60px;
    width: 304px;
    height: 241px;
    background-image: url(../images/tasty-girl-1200.png);
    @include retina(tasty-girl, 1200, png);
  }
  z-index: 1;
}
