.made {
  position: relative;
  background-color: color("made-bg");
  padding-bottom: 87px;
  @include contentMedia($tablet) {
    padding-bottom: 251px;
  }

  @include contentMedia($desktop) {
    padding-bottom: 209px;
  }
}

.made__container {
  background-image: url(../../images/splash-1200.png);
  @include retina(splash, 1200, png);
  background-repeat: no-repeat;
  background-position: 0 40%;
  background-size: contain;
}

.made__section-title {
  margin-bottom: 32px;
  @include contentMedia($tablet) {
    margin-bottom: 40px;
  }
  @include contentMedia($desktop) {
    margin-bottom: 60px;
  }
}

.made__content {
  margin-bottom: 40px;
  @include contentMedia($tablet) {
    display: flex;
    gap: 32px;
    margin-bottom: 60px;
  }
  @include contentMedia($desktop) {
    display: flex;
    gap: 99px;
  }
}

.made__image {
  @extend %centred;
  @include mwContentMedia($tablet) {
    margin-bottom: 40px;
  }
}

.made__text-container {
  //   width: 100%;

  @include mwContentMedia($tablet) {
    padding-right: 60px;
    background-image: url(../../images/splash-320.png);
    @include retina(splash, 320, png);
    background-repeat: no-repeat;
    background-position: 0 30%;
    background-size: contain;
    @include contentMedia(572px) {
      background-size: cover;
    }
  }
  @include contentMedia($tablet) {
    width: calc(50% - 32px);
  }
  @include contentMedia($desktop) {
    width: calc(50% - 94px);
  }
}

.made__top-text {
  margin-bottom: 40px;
  @include font(500, 12, 19, null);
  @include contentMedia($tablet) {
    @include font(500, 14, 25, null);
  }
  @include contentMedia($desktop) {
    padding-top: 90px;
    @include font(500, 16, 28, 0.04em);
  }
}

.made__bottom-text {
  margin-bottom: 20px;
  @include font(500, 12, 19, 0.04em);
  color: color("grey");
  @include contentMedia($tablet) {
    margin-bottom: 40px;
    @include font(500, 14, 25, 0.04em);
  }
  @include contentMedia($desktop) {
    @include font(500, 14, 27, 0.04em);
  }
}

.bottom-text__partial-text {
  display: inline-block;
  padding-top: 10px;
}

.made__button {
  width: 176px;
  height: 44px;
  border-radius: 22px;
}

.made__made-list {
  @include contentMedia($tablet) {
    display: flex;
  }
  @include contentMedia($desktop) {
    gap: 115px;
  }
}

.made-list__item {
  @include mwContentMedia($tablet) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @include contentMedia($tablet) {
    width: calc((100% - 175px) / 3);
  }

  @include contentMedia($desktop) {
    @include calc(115px, 3);
  }
}

.made-list__icon {
  margin-bottom: 16px;
  @include contentMedia($tablet) {
    margin-bottom: 36px;
  }
  @include contentMedia($desktop) {
    margin-bottom: 40px;
  }
}

.made-list__top-text {
  margin-bottom: 20px;
  font-family: $secondary-font;
  @include font(400, 36, 41, 0.04em);
  color: color("accent-color");
  @include contentMedia($tablet) {
    @include font(400, 48, 55, 0.04em);
  }
  @include contentMedia($desktop) {
    @include font(400, 58, 66, 0.04em);
  }
}

.made-list__bottom-text {
  @include font(700, 12, 20, null);

  @include contentMedia($tablet) {
    @include font(700, 14, 24, 0.04em);
  }
  @include contentMedia($desktop) {
    @include font(700, 16, 28, 0.02em);
  }
}

.grid {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(65%);
  @include contentMedia($tablet) {
    transform: translateY(50%);
  }
  @include contentMedia($desktop) {
    padding: 0 93px;
    transform: translateY(78%);
  }
}

.grid__image {
  width: 100%;
}
