.made {
  background-color: color("made-bg");
  padding-bottom: 87px;
  @include contentMedia($tablet) {
    padding-bottom: 251px;
  }
}

.made__section-title {
  margin-bottom: 32px;
  @include contentMedia($tablet) {
    margin-bottom: 40px;
  }
}

.made__content {
  margin-bottom: 40px;
  @include contentMedia($tablet) {
    display: flex;
    gap: 32px;
    margin-bottom: 60px;
  }
}

.made__image {
  @extend %centred;
  @include mwContentMedia($tablet) {
    margin-bottom: 40px;
  }
}

.made__text-container {
  //   width: 100%;

  @include mwContentMedia($tablet) {
    padding-right: 60px;

    background-image: url(../../images/splash-320.png);
    background-repeat: no-repeat;
    background-position: 0 30%;
    background-size: contain;
    @include contentMedia(572px) {
      background-size: cover;
    }
  }
  @include contentMedia($tablet) {
    width: calc(50% - 32px);
  }
}

.made__top-text {
  margin-bottom: 40px;
  @include font(500, 12, 19, null);
  @include contentMedia($tablet) {
    @include font(500, 14, 25, null);
  }
}

.made__bottom-text {
  margin-bottom: 20px;
  @include font(500, 12, 19, 0.04em);
  color: color("grey");
  @include contentMedia($tablet) {
    margin-bottom: 40px;
    @include font(500, 14, 25, 0.04em);
  }
}

.bottom-text__partial-text {
  display: inline-block;
  padding-top: 10px;
}

.made__button {
  width: 176px;
  height: 44px;
  border-radius: 22px;
}

.made__made-list {
  @include contentMedia($tablet) {
    display: flex;
  }
}

.made-list__item {
  @include mwContentMedia($tablet) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @include contentMedia($tablet) {
    width: calc((100% - 175px) / 3);
  }
}

.made-list__icon {
  margin-bottom: 16px;
}

.made-list__top-text {
  margin-bottom: 20px;
  font-family: $secondary-font;
  @include font(400, 36, 41, 0.04em);
  color: color("accent-color");
}

.made-list__bottom-text {
  @include font(700, 12, 20, null);
}
