.menu-btn {
  @extend %flex-centred;
  @extend %button;

  &__icon {
    stroke: color("accent-color");
  }

  @include contentMedia($desktop) {
    display: none;
  }
}

.close-btn {
  @extend %flex-centred;
  @extend %button;
  &__icon {
    stroke: color("white-color");
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  border-radius: 22px;
  background-color: color("white-color");
  color: color("accent-color");
  cursor: pointer;
  @include animation(background-color);

  &:hover,
  &:focus {
    background-color: color("btn-hover");
  }

  &__text {
    @include font(700, 16, 21, null);
  }
  &__icon {
    margin-left: 16px;
  }
}
