.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 78%;
  height: 100%;
  padding: 20px;
  background-color: color("pink-color");
}

.menu-container {
}

.menu__close-btn {
  margin-left: auto;
  margin-bottom: 26px;
}

.menu__button {
  width: 100%;
  height: 44px;
  margin-bottom: 32px;
}

.nav {
}

.nav-list {
}

.nav-list__item {
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
  &:first-child {
    padding: 13px 0 11px;
  }

  &:nth-child(2) {
    padding: 11px 0 12px;
  }
  &:nth-child(3) {
    padding: 11px 0 13px;
  }
  &:nth-child(4) {
    padding: 10px 0 13px;
  }
  &:last-child {
    padding: 10px 0 14px;
  }
}

.nav-list__link {
  @include font(700, 14, 18, null);
  color: color("white-color");
  @include animation(color);

  &:hover,
  &:focus {
    color: color("accent-color");
  }
}
