.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 78%;
  height: 100%;
  padding: 20px;
  background-color: color("pink-color");
}

.menu-container {
}

.menu__close-btn {
  margin-left: auto;
}

.button {
}

.button__icon {
}

.nav {
}
.nav-list {
}
.nav-list__item {
}
.nav-list__link {
}
