body {
  font-family: $main-font;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.container {
  // min-width: 320px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  @extend %centred;
  @include contentMedia($tablet) {
    min-width: $tablet;
    padding-left: 32px;
    padding-right: 32px;
  }
  @include contentMedia($desktop) {
    width: $desktop;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @include contentMedia($desktop) {
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
