$main-font: "DM Sans", sans-serif;
$secondary-font: "Titan One", sans-serif;
$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

$colors: (
  "accent-color": #d41443,
  "white-color": #ffffff,
  "pink-color": #e17992,
  "mob-border": #e18298,
  "btn-hover": #ecebeb,
  "hero-bg": #ffb8ca,
  "circle-bg": #ffa5ba,
);

@function color($key) {
  @return map-get($colors, $key);
}
