$main-font: "DM Sans", sans-serif;
$secondary-font: "Titan One", sans-serif;

$colors: (
  "accent-color": #d41443,
  "white-color": #ffffff,
  "pink-color": #e17992,
);

@function color($key) {
  @return map-get($colors, $key);
}
